body {
    margin: 0;
    padding: 0;
    background-color: black;
    text-align: center;
    font-family: 'Baloo Chettan 2', cursive;
    color: white;
}

header{
    position: relative;
    height: 10vh;
    width: 100%;
    background-color: white;
    color: black;
}

#counter-container{
    visibility: hidden;
    position: absolute;
    top: 20px;
    right: 20px;
    color:white;
    background-color: black;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid white;
}

#counter{
    margin-top: 40%;
    font-size: 1.3rem;
}

#result{
    display: none;
}

section{
    margin: 1rem auto;
    padding: 1rem;
    width: 350px;
    justify-content: center;
    align-items: center;
    min-height: 100px;

    
}

.radio-buttons{
    width: 80%;
    margin: 0 auto;
}

input:not(:last-of-type){
    margin-right: 1.5rem;
}

.upper-container{
    border: 2px solid white;
    display: flex;
    border: 2px solid rgb(77, 203, 77)
} 

.counter-container{
   display: flex;
   position: relative;
   border: 2px solid white;
   height: 5rem;
}

.points-container{
    display: flex;
    font-size: 3rem;
    margin: 1rem;
    gap: 2rem;
}

.team{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: red;
    height: 2rem;
    width: 4rem;
}

.team:first-of-type{
    left: -2rem
}
.team:nth-child(2){
    right: -2rem;
}


.disabled-buttons{
    color:grey;
    background-color: black;
    width: 70px;
    height: 70px;
    border: 2px solid grey;
    border-radius: 50%;
    margin: 1rem;
}

.game-buttons{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 1rem;
}

.active-buttons{
    color:white;
    background-color: black;
    width: 70px;
    height: 70px;
    border: 2px solid white;
    border-radius: 50%;
    margin: 1rem;
}

.active-buttons:hover{
    border: 2px solid rgb(77, 203, 77);
    color: rgb(77, 203, 77);
}

#newGame{
    color: brown;
    background: black;
    text-decoration: underline;
    font-size: 1rem;
}

#newGame:hover{
    border: 1px solid brown;
}


